body {
  background-color: rgb(101, 172, 73);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#poga {
  display: flex;
  justify-content: center;
  align-items: center;
}

#jauns_to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

#popup {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgb(54, 99, 8);
  font-size: 30px;
}